<%- include("partials/header.ejs") %>

    <h2>Edit Character</h2>

    <form action="/character/<%= character.id %>?_method=put" method="post">
        <p>
            <label>First Name:</label>
            <input type="text" value="<%= character.firstName %>" name="firstName" />
            <br>
            <label>Last Name:</label>
            <input type="text" value="<%= character.lastName %>" name="lastName" />
            <br>
            <label>Aliases:</label>
            <input type="text" value="<%= character.alias %>" name="alias" />
            <br>
            <label>Gender:</label>
            <input type="text" value="<%= character.gender %>" name="gender" />
            <br>
            <label>Age at start of Story:</label>
            <input type="integer" value="<%= character.age %>" name="age" />
            <br>
            <label>Profession:</label>
            <input type="text" value="<%= character.prof %>" name="prof" />
            <br>
            <label>Description:</label>
            <input type="text" value="<%= character.desc %>" name="desc" />
            <br>
            <label>Background:</label>
            <input type="text" value="<%= character.background %>" name="background" />
            <br>
            <label>Image URL:</label>
            <input type="text" value="<%= character.image %>" name="image" />
            <br>
            <label>Story Id#:</label>
            <input type="integer" value="<%= character.storyId %>" name="storyId" />
        </p>
        <input type="submit" value="Edit your character" />
    </form>
    <form action="/character/<%= character.id %>?_method=delete" method="post">
        <input type="submit" value="Delete Character">
    </form>

<%- include("partials/footer.ejs") %>