<%- include("partials/header.ejs") %>

    <h1>Testing edit story</h1>
    <h2>Edit story</h2>

    <form action="/story/<%= story.id %>?_method=put" method="post">
        <p>
            <label>Title:</label>
            <input type="text" value="<%= story.title %>" name="title" />
            <br>
            <label>Genre:</label>
            <select id="genre" name="genre" value="<%= story.genre %>" class="form-control">
            <!-- defaults to currently selected genre when not changed -->
                <option value="<%= story.genre %>">Currently:<%= story.genre %></option>
                <option value="Fantasy">Fantasy</option>
                <option value="Science Fiction">Science Fiction</option>
                <option value="Horror/Thriller">Horror/Thriller</option>
                <option value="Young Adult">Young Adult</option>
                <option value="Romance">Romance</option>
                <option value="Other">Other</option>
            </select>
            <br>
            <label>Setting:</label>
            <input type="text" value="<%= story.setting %>" name="setting" />
            <br>
            <label>Year Created:</label>
            <input type="text" value="<%= story.year %>" name="year" />
        </p>
        <input type="submit" value="Edit your story" />
    </form>
    <form action="/story/<%= story.id %>?_method=delete" method="post">
        <input type="submit" value="Delete Story">
    </form>

<%- include("partials/footer.ejs") %>