<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show Character</title>
</head>

<body>
    <h1>Testing show character</h1>
    <h2>
        <%= character.firstName %>
    </h2>
    <h2>
        <%= character.lastName %>
    </h2>
    <h2>
        <%= character.alias %>
    </h2>
    <h2>
        <%= character.gender %>
    </h2>
    <h2>
        <%= character.age %>
    </h2>
    <h2>
        <%= character.prof %>
    </h2>
    <h2>
        <%= character.desc %>
    </h2>
    <h2>
        <%= character.background %>
    </h2>
</body>

</html>

