<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show Stories</title>
</head>

<body>
    <h1>Testing show stories</h1>
    <h2>
        <%= story.title %>
    </h2>
    <h2>
        <%= story.genre %>
    </h2>
    <h2>
        <%= story.setting %>
    </h2>
    <h2>
        <%= story.year %>
    </h2>
    <br>
    <h2>
        <a href="/story/edit/<%= story.id %>">Edit or Delete Story</a>
    </h2>
</body>

</html>