<%- include("partials/header.ejs") %>

    <h1>Testing show stories</h1>
    <h2>
        <%= story.title %>
    </h2>
    <h2>
        <%= story.genre %>
    </h2>
    <h2>
        <%= story.setting %>
    </h2>
    <h2>
        <%= story.year %>
    </h2>

    <h2>Cast of Characters:</h2>
    <% story.characters.forEach(character => { %>
<h2>
<a href="/character/<%= character.id %>"><%= character.firstName %></a>
    </h2>
<% }) %>
<br>
    <h2>
        <a href="/character/new">Add a Character</a>
    </h2>
<br>
<h3>This story's Id# is:<%= story.id %></h3>
    <h2>
        <a href="/story/edit/<%= story.id %>">Edit or Delete Story</a>
    </h2>

<%- include("partials/footer.ejs") %>