<%- include("../partials/header.ejs") %>
    <html>

    <body id="story">
        <div class="show">
            <h2>Title:
                <%= story.title %>
            </h2>
            <h2>Genre:
                <%= story.genre %>
            </h2>
            <h2>Setting:
                <%= story.setting %>
            </h2>
            <h2>Year Written:
                <%= story.year %>
            </h2>
            <br>
            <h2>Cast of Characters:</h2>
            <% story.characters.forEach(character => { %>
                <h2>
                    <a href="/character/<%= character.id %>">
                        <%= character.firstName %>
                    </a>
                </h2>
                <% }) %>
                    <br>
                    <h2>
                        <a href="/character/new">Add a Character</a>
                    </h2>
                    <br>
                    <h4>Story Id#:
                        <%= story.id %>
                    </h4>
                    <h2>
                        <a href="/story/edit/<%= story.id %>">Edit or Delete Story</a>
                    </h2>
        </div>
    </body>

    <%- include("../partials/footer.ejs") %>

    </html>