<%- include("../partials/header.ejs") %>
    <html>

    <body id="character">
        <div class="edit">
            <h2>Edit Character:</h2>
            <div class="fields">
                <form action="/character/<%= character.id %>?_method=put" method="post">

                    <label>First Name:</label>
                    <br>
                    <input type="text" value="<%= character.firstName %>" name="firstName" />
                    <br>
                    <label>Last Name:</label>
                    <br>
                    <input type="text" value="<%= character.lastName %>" name="lastName" />
                    <br>
                    <label>Aliases:</label>
                    <br>
                    <input type="text" value="<%= character.alias %>" name="alias" />
                    <br>
                    <label>Gender:</label>
                    <br>
                    <input type="text" value="<%= character.gender %>" name="gender" />
                    <br>
                    <label>Age at start of Story:</label>
                    <br>
                    <input type="integer" value="<%= character.age %>" name="age" />
                    <br>
                    <label>Profession:</label>
                    <br>
                    <input type="text" value="<%= character.prof %>" name="prof" />
                    <br>
                    <label>Description:</label>
                    <br>
                    <input type="text" value="<%= character.desc %>" name="desc" />
                    <br>
                    <label>Background:</label>
                    <br>
                    <input type="text" value="<%= character.background %>" name="background" />
                    <br>
                    <label>Image URL:</label>
                    <br>
                    <input type="text" value="<%= character.image %>" name="image" />
                    <br>
                    <label>Story Id#:</label>
                    <br>
                    <input type="integer" value="<%= character.storyId %>" name="storyId" />

            </div>

            <div class="button">
                <div class="change">
                    <input type="submit" value="Submit Changes" />
                    </form>
                </div>
            </div>
            <div class="button">
                <span class="delete">
                    <form action="/character/<%= character.id %>?_method=delete" method="post">
                        <input type="submit" value="Delete Character">
                    </form>
                </span>
            </div>
        </div>
        </div>
    </body>
    <%- include("../partials/footer.ejs") %>

    </html>