<%- include("../partials/header.ejs") %>

    <h2>Edit Character</h2>

    <form action="/character/<%= character.id %>?_method=put" method="post">

        <label>First Name:</label>
        <input type="text" value="<%= character.firstName %>" name="firstName" />

        <label>Last Name:</label>
        <input type="text" value="<%= character.lastName %>" name="lastName" />

        <label>Aliases:</label>
        <input type="text" value="<%= character.alias %>" name="alias" />

        <label>Gender:</label>
        <input type="text" value="<%= character.gender %>" name="gender" />

        <label>Age at start of Story:</label>
        <input type="integer" value="<%= character.age %>" name="age" />

        <label>Profession:</label>
        <input type="text" value="<%= character.prof %>" name="prof" />

        <label>Description:</label>
        <input type="text" value="<%= character.desc %>" name="desc" />

        <label>Background:</label>
        <input type="text" value="<%= character.background %>" name="background" />

        <label>Image URL:</label>
        <input type="text" value="<%= character.image %>" name="image" />

        <label>Story Id#:</label>
        <input type="integer" value="<%= character.storyId %>" name="storyId" />

        <input type="submit" value="Edit your character" />
    </form>
    <form action="/character/<%= character.id %>?_method=delete" method="post">
        <input type="submit" value="Delete Character">
    </form>

    <%- include("../partials/footer.ejs") %>