<%- include("../partials/header.ejs") %>
    <html>

    <body id="character">
        <div class="edit">
            <h2>Edit Character:</h2>
            <div class="fields">
                <form action="/character/<%= character.id %>?_method=put" method="post">

                    <label>First Name:</label>
                    <br>
                    <input type="text" value="<%= character.firstName %>" name="firstName" />
                    <br>
                    <label>Last Name:</label>
                    <br>
                    <input type="text" value="<%= character.lastName %>" name="lastName" />
                    <br>
                    <label>Aliases:</label>
                    <br>
                    <input type="text" value="<%= character.alias %>" name="alias" />
                    <br>
                    <label>Gender:</label>
                    <br>
                    <input type="text" value="<%= character.gender %>" name="gender" />
                    <br>
                    <label>Age at start of Story:</label>
                    <br>
                    <input type="integer" value="<%= character.age %>" name="age" />
                    <br>
                    <label>Profession:</label>
                    <br>
                    <input type="text" value="<%= character.prof %>" name="prof" />
                    <br>
                    <label>Description:</label>
                    <br>
                    <input type="text" value="<%= character.desc %>" name="desc" />
                    <br>
                    <label>Background:</label>
                    <br>
                    <input type="text" value="<%= character.background %>" name="background" />
                    <br>
                    <label>Image URL:</label>
                    <br>
                    <input type="text" value="<%= character.image %>" name="image" />
                    <br>
                    <label>Story Id#:</label>
                    <br>
                    <input type="integer" value="<%= character.storyId %>" name="storyId" />

            </div>

            <div class="buttons">
                <div class="change">
                    <input type="submit" value="Submit Changes" />
                    </form>
                </div>
                <div class="delete">
                    <form action="/character/<%= character.id %>?_method=delete" method="post">
                        <input type="submit" value="Delete Character">
                    </form>
                </div>
            </div>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
                crossorigin="anonymous"></script>
        </div>
    </body>
    <%- include("../partials/footer.ejs") %>

    </html>