<%- include("../partials/header.ejs") %>
    <html>

    <body id="character">
        <div class="show">
            <h2>First Name:
                <%= character.firstName %>
            </h2>
            <h2>Last Name:
                <%= character.lastName %>
            </h2>
            <h2>Aliases:
                <%= character.alias %>
            </h2>
            <h2>Gender:
                <%= character.gender %>
            </h2>
            <h2>Age at start of story:
                <%= character.age %>
            </h2>
            <h2>Profession:
                <%= character.prof %>
            </h2>
            <br>
            <h2>Character Description:
                <br>
                <%= character.desc %>
            </h2>
            <br>
            <h2>Character Background:
                <br>
                <%= character.background %>
            </h2>
            <br>
            <h2>Character picture:
                <br>
                <img src="<%= character.image %>" alt="characer picture">
            </h2>
            <h2>Story Id#:
                <a href="../story/<%= character.storyId %>">
                    <%= character.storyId %>
            </h2>
            <h2>
                <a href="/character/edit/<%= character.id %>">Edit or Delete Character</a>
            </h2>
        </div>

    </body>

    <%- include("../partials/footer.ejs") %>

    </html>